/* タグ */
body {
    background-color: white;
    color: black;
    padding: 0.1rem 0.2rem;
    font-family: 'BIZ UDPGothic', sans-serif;
    max-width: 960px;
    margin: 0 auto;
}

table {
    border: solid 3px;
    border-collapse: collapse;
    text-align: center;
}
table th {
    border: solid 1px;
}
table td {
    border: solid 1px;
}

.rankingTd0 {
    border-top: solid 3px;
    border-bottom: solid 3px;
}
.rankingTd1 {
    border-top: solid 3px;
    border-bottom: solid 3px;
}
.rankingTd2 {
    border-top: solid 3px;
    border-bottom: solid 3px;
}
.rankingTd3 {
    border-top: solid 3px;
    border-bottom: solid 3px;
}
.rankingTd4 {
    font-size: 10px;
}
.rankingTd4 img {
    width: 100px;
}
.rankingTd4Odd {
    border-bottom: solid 3px;
}
.rankingTd4Even {
    border-top: solid 3px;
}

/* index.html */
.tableHomeListTd0 img {
    width: 100px;
}
.disabledTd0 {
    background-color: #cfcfcf;
}
.disabledTd0 img{
    filter: brightness(70%);
}

.tableChangeListTd0 img {
    width: 50px;
}

/* serverBattleStandBy.html */
.tableServerBattleListTd0 img {
    width: 100px;
}

/* typeEffective.html */
.typeEffectiveTd0 {
    font-size: 10px;
}
.typeEffectiveTd1 {
    font-size: 10px;
}
.typeEffectiveTd2 {
    font-size: 15px;
}
.typeEffectiveTd3 {
    font-size: 10px;
}
.typeEffectiveTd4 {
    font-size: 10px;
}
.typeEffectiveTd5 {
    font-size: 10px;
}